<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930962707537-vmi9lp1uci6kqpp6s3a74micabrhh6af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930962707537-vmi9lp1uci6kqpp6s3a74micabrhh6af</string>
	<key>API_KEY</key>
	<string>AIzaSyAnJb11iCorJGuMlmqIUVwyZVyyWN40ug4</string>
	<key>GCM_SENDER_ID</key>
	<string>930962707537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.iSchedule</string>
	<key>PROJECT_ID</key>
	<string>ischedule-ff366</string>
	<key>STORAGE_BUCKET</key>
	<string>ischedule-ff366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930962707537:ios:8f7c4eee9691793ef0d470</string>
</dict>
</plist>